* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    a {
    color: #ffffff;
    text-decoration: none;
    }
    p {
        font-size: 16px;
    }
}

body {
    background-color: #d9dcd6;
}

/* Changed to a header element to make things more concise. Still works the same as before, just more semantic friendly */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    /* Moved a lot of the elements into here to keep it more clean */
    h1{
        display: inline-block;
        font-size: 48px;
    }
    section {
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
    ul {
        list-style-type: none;
        li{
            display:inline-block;
            margin-left: 25px;
        }
    }
    /* original color: d9dcd6
    Personally, I was bothered by the lack of contrast, 
    but it can be changed back.*/
    .seo {
        color:#9cb0b5;
    }
}

/* Unchanged */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Kept these for convenience. They don't seem to be bothering anything */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Changed to main to make it more concise. Reduced the amount of classes used to reduce clutter */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    section {
        margin-bottom: 20px;
        padding: 50px;
        height:300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;
    }
    /* Moved a lot of these inside so they wouldn't bother others of the same elements outside of the box */
    img {
        max-height: 200px;
    }
    h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }
}

/* Kept this to keep everything in place */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color:#ffffff;
}

/* Changed into articles so it could fit into the benefits section */
article {
    margin-bottom: 32px;
    /* Moved these into here to reduce clutter and not effect other images on the page */
    img {
        display:block;
        margin: 10px auto;
        max-width: 150px;
    }
    h3 {
        margin-bottom: 10px;
        text-align: center;
    }
} 

/* Changed this to a footer to make things more concise. Also put everything into here to reduce clutter and not effect other h2s */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    h2 {
        font-size: 20px;
    }
}